/*HEADER*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nleft {
    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}
.nleft a {
    padding-left: 15px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}

.nright {
    display: inline-block;
    float: right;
    padding-right: 16px;
    padding-top: 10px;
}
.nright a {
    padding-right: 15px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}
.nright img {
    position: relative;
    transform: translate(0%, 25%);
    padding-right: 20px;
    width: 16px;
    height: 16px;
    opacity: 0.50;
}
.nright img:hover {
    opacity: 1;
}
.nright button {
    width: 70px;
    height: 32px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #4285F4;
    border-radius: 3px;
}

a:hover {
    text-decoration: underline;
}

#logo {
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6.8125em;
}

/*MAIN*/
main {
    padding-top: 100px;
}
div.search {
    width: 585px;
    margin-top: 20px;
    display: block;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

#glass {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    padding-top: 12px;
    padding-left: 20px;
}
#mic {
    display: block;
    width: 15px;
    height: 20px;
    float: right;
    padding-top: 12px;
    padding-right: 20px;
}

section.buttons {
    text-align: center;
}
div.button {
    display: inline-block;
}

.clicky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
/*FOOTER*/
footer {
    position: fixed;
    bottom 0;
    background-color: blue;
}